@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

main {
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  font-size: 100%; }

h1 {
  font-weight: bold;
  font-size: 2rem; }

span {
  font-size: 1rem; }

figure {
  margin: 0 auto;
  text-align: center;
  color: #7B2E95; }

blockquote {
  color: #b00303;
  margin-left: 5%; }

img {
  width: 100%;
  height: auto; }

.sidebar {
  display: none; }

@media screen and (min-width: 641px) {
  h1 {
    font-size: 2.3rem; }

  span {
    font-size: 1.5rem; }

  img {
    width: 50%;
    height: 50%;
    display: inline; }

  main {
    font-size: 120%;
    width: 78%;
    display: inline-block;
    text-align: justify;
    margin-left: 1%;
    border-right: solid 0.1rem #000000; }

  figcaption {
    width: 50%;
    height: 100%;
    display: inline;
    float: right;
    text-align: justify;
    font-size: 1.3rem; }

  .sidebar {
    display: inline-block;
    width: 20%;
    height: 100%;
    position: fixed;
    right: 0; }

  .content {
    margin-right: 3%; }

  .pub1 {
    border: dashed 0.3rem #000000;
    font-size: 2rem;
    margin-bottom: 5%;
    margin-top: 10%; }

  .pub2 {
    border: dotted 0.3rem #000000;
    font-size: 1.3rem;
    text-align: center;
    margin-top: 10%; }

  #link1 {
    color: #FF0000;
    text-decoration: none; }

  #link2 {
    color: #0000FF;
    text-decoration: none; }

  #moche {
    width: 100%; }

  .pub3 {
    width: 50%;
    margin-top: 10%;
    border: double 1.3rem #4baa6b; }

  #link3 {
    color: #7B2E95;
    font-size: 150%;
    text-decoration: none;
    width: 100%;
    height: 100%; }

  #link4 {
    width: 100%;
    margin-top: 15%; } }
@media screen and (min-width: 641px) and (min-width: 1025px) {
  main {
    width: 1200px; }

  .sidebar {
    display: inline-block;
    width: 30%;
    height: 100%;
    position: fixed;
    right: 0;
  }

  .pub1 {
    width: 90%;
    margin-top: 2%; }

  .pub2 {
    width: 50%;
    margin-top: 2%; }

  .pub3 {
    width: 90%;
    height: 7%;
    margin-top: 2%; }

  .pub4 {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto; }

  #link4 {
    width: 60%;
    margin-top: 2%; }

  h1 {
    text-align: center; }

  figure {
    margin: 0 auto;
    text-align: center;
    color: #7B2E95; }

  figure img {
    width: 70%;
    height: auto;
    border-radius: 10%;
    box-shadow: 5px 5px 5px #888888; }

  figcaption {
    width: auto;
    margin-left: 20%;
    margin-right: 20%;
    background-color: #D6D6D6;
    border-radius: 0.8rem;
    border: solid #888888 0.1rem; } }

/*# sourceMappingURL=style.scss.map */
