$red : #FF0000;
$white : #FFFFFF;
$green : #007f00;
$grey : #7e7e7e;
$black : #000000;
$blueBorder : #1bf2ed;
$blue : #0000FF;

.redBlock {
  background-color: $red;
  width: 500px;
  height: 500px;
  color: $white;
  text-align: center;
  line-height: 500px;
  display: inline-block;
  float: left;
  margin-right: 1%;
}
.redBlockParagraph {
  background-color: $red;
  width: 500px;
  height: 500px;
  color: $white;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  position: relative;
}
.green {
  position: absolute;
  top: 0;
  right: 0;
  background-color: $green;
  width: 100px;
  height: 100px;
}
.grey {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: $grey;
  width: 100px;
  height: 100px;
}
.whiteParagraph {
  position: absolute;
  top: 0;
  left: 0;
  background-color: $white;
  width: 100px;
  height: 150px;
  color: $black;
  font-size: 10px;
  text-align: center;
}
.blackParagraph {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: $black;
  width: 100px;
  height: 150px;
  color: $white;
  font-size: 10px;
  text-align: center;
}
.greenBlock {
  position: absolute;
  top: 0;
  right: 0;
  background-color: $green;
  width: 100px;
  height: 150px;
}
.greyBlock {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: $grey;
  width: 100px;
  height: 150px;
}
.form {
  border: solid 1px $blueBorder;
  text-align: center;
  width: 400px;
  height: 400px;
  margin-left: 40%;
}
.login {
  color: $black;
  font-size: 3rem;
  margin-top: 2%;
}
h1 {
  color: $grey;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: left;
  margin-left: 19%;
}
h2 {
  color: $grey;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: left;
  margin-left: 19%;
}
.input {
  width: 250px;
  height: 30px;
  border-radius: 5px;
}
.btn {
  position: relative;
  width: 200px;
  height: 40px;
  border-radius: 10px;
  border: solid 0.1rem $black;
  margin-top: 5%;
  color: $white;
  background: linear-gradient(90deg, orange, red);
  font-weight: bold;
}
.needAccount {
  margin-top: 4%;
}
a {
  text-decoration: none;
  color: $blue;
}