$red : #FF0000;
$white : #FFFFFF;
$green : #007f00;
$grey : #7e7e7e;
$black : #000000;
$blueBorder : #1bf2ed;
$blue : #0000FF;
$lightgrey : #d4d4d4;

.container {
  margin-top: 50vh;
  transform: translateY(-50%);
}
.form {
  border: solid 1px $blueBorder;
  text-align: center;
  width: 400px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}
.login {
  color: $black;
  font-size: 3rem;
  margin-top: 2%;
}
h1 {
  color: $grey;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: left;
  margin-left: 19%;
}
h2 {
  color: $grey;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: left;
  margin-left: 19%;
}
.input {
  width: 250px;
  height: 30px;
  border-radius: 5px;
  border: solid 1px $lightgrey;
}
.btn {
  position: relative;
  width: 200px;
  height: 40px;
  border-radius: 10px;
  border: solid 0.1rem $lightgrey;
  margin-top: 5%;
  color: $white;
  background: linear-gradient(90deg, orange, red);
  font-weight: bold;
}
.needAccount {
  margin-top: 4%;
}
a {
  text-decoration: none;
  color: $blue;
}
.popup {
  border: solid 1px $grey;
  background-color: $white;
  width: 450px;
  height: 120px;
  transform: translateY(50%);
  margin: auto;
  text-align: center;
  line-height: 4rem;
  font-size: 2rem;
  z-index: 2000000000;
  display: none;
  position: absolute;
}
#font {
  opacity: 0.5;
  background-color: #1b1b1b;
  z-index: 5;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: none;
}